@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Righteous&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/*-------------------------NAVBAR----------------*/
.navbar{
 background-color: rgb(0, 0, 0);
}

.navbar-brand{
  color: #ed0a47;
  text-transform: uppercase;
  letter-spacing: normal;
  font-family: 'Righteous';
  font-weight: bold;
  font-size: 25px;
}

span{
 
  color: #089797; 
}

.nav-link{
  color:#ee0847;
  font-weight: bold;
  font-size: 18px;
}

.nav-link:hover{
  color:#129797;
  box-shadow: 0px 0px 4px #fff;
  padding: 5px 5px;
  transition: .5s ease-in-out;
}

/*---------------------------HAMBURGER BUTTON-----------------*/
.navbar-toggler{
  width: 20px;
  height: 20px;
  position: relative;
  transition: .5s ease-in-out;
}

.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus{
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span{
  margin: 0;
  padding: 0;
}

.toggler-icon{
  display: block;
  position: absolute;
  height: 4px;
  width: 30px;
  background: rgb(238,8,71);
  background: linear-gradient(90deg, rgba(238,8,71,1) 35%, rgba(18,151,151,1) 100%);
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .2s ease-in-out;
}

.navbar-toggler.collapsed .toggler-icon{
  background: rgb(238,8,71);
  background: linear-gradient(90deg, rgba(238,8,71,1) 35%, rgba(18,151,151,1) 100%);
}

.navbar-toggler.collapsed .top-bar{
  margin-top: -10px;
  transform: rotate(0deg);
}

.navbar-toggler.navbar-toggler.collapsed .middle-bar{
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar{
  margin-top: 10px;
  transform: rotate(0deg);
}

.middle-bar{
  margin-top: 0px;
}

.navbar-toggler .top-bar{
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar{
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar{
  margin-top: 0px;
  transform: rotate(-135deg);
}
/*--------------------HUMBURGER BUTTON-------------------*/
/*-----------------------------END NAVBAR----------------*/
/*-------------------------HOMEPAGE---------------------*/
.homePage{
  background-image: url(../images/IMG_7918.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 3;
  justify-content: flex-end;
  padding-left: 9px;
  
}
.display-4{
  color: #fff;
  font-size: 70px;
  margin-right: 40px;
  
}

.frontEnd{
  color:#fff;
  font-size:large;
  background-color: rgb(238, 8, 71);
  padding-left: 20px;
}

#typed-out{
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.4rem;
  width: 0;
  animation: typing 5s infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
.homePage::after{
  content:'';
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgba(4, 4, 4, 0.399);
  top: 0;
  left: 0;
  z-index: -2;
}

.btn{
  color: #fff;
  box-shadow:  0px 0px 4px rgb(238, 8, 71);
  background-color: #129797;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 20px;
}

.btn:hover{
  color: rgb(120, 119, 119);
}

.text-center{
  width: 100%;
}

/*-----------------ABOUT ME ---------*/

.aboutMe{
  background-color: rgb(0, 0, 0);
}

.text-dark{
  color: #ee0847 !important;
  font-family: "prompt";
  font-size: 40px;
  font-weight: bolder;
}

.text-white{
  font-size: 23px;
  font-family: 'Righteous';
}

#special{
  text-decoration: none;
  color: rgb(18, 151, 151);
  font-family: "Prompt";  
}
.img-fluid{
  max-width: 80%;
  height: auto;
}

/*-------------END ABOUT ME--------------------*/
/*-------------PORTFOLIO--------------------*/

.paragraph{
  font-size: 23px;
  color:#129797 ;
}
.gif{
  background-color: #010101;
  padding: 2px 3px;
} 

#img-fluid{
max-width: 357px;
height: auto;
}

.p-cover{
  background-color: rgb(166, 173, 227) ;
  padding: 30px 90px;
  border: black;

}
/*----------------SKILLS-------------------------*/
.title-skills{
  padding-bottom: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 35px;
  font-family: 'Prompt';
  /*padding-right: 40px;*/
}
.row{
  padding-right: 40px;
  padding-left: 20;
}
#boxSkills{
  background-color: #010101;
}
.card-title{
  color: rgb(244, 240, 240);
}
.card{
  background-color: #010101;
  padding-bottom: 30px;
}
/*--------------------------------END SKILLS----------------------*/
/*--------------------------------CONTACT FORM----------------------*/
.formSection{
  margin-top: -22px;
  background-color: rgb(254, 252, 252);
}
.getInTouch, .project{
  font-family: 'Righteous';
  font-size: 50px;
  font-weight:bold;
  color: rgb(0, 0, 0);
}
.input{
  padding-left: 30px;
}
.textPara{
color: rgb(18, 151, 151);
font-family: 'Righteous';
font-size: 30px;
}
input[type=text], input[type=email], textarea[name=message]{
  width: 100%;
  padding: 20px 20px;
  margin: 16px 4px;
  display: inline-block;
  border: 2px solid rgb(18, 151, 151);
  border-radius: 10px;
  color: rgb(238,8,71) !important;
  font-family: "Righteous";
  margin-left: 30px;
}
input[type=text]:hover, input[type=email]:hover textarea[name=message]:hover{
  border: 2px solid rgb(18, 151, 151);
}
::-webkit-input-placeholder { /* WebKit browsers */
  color: rgb(238,8,71) !important;
  opacity: 1;
  font-family:"Righteous" ;
}
.input{
  font-family:"Righteous";
  color:rgb(18, 151, 151);
  line-height: 2;
  padding-top: 20px;
}
.col-sm-3{

  padding: 30px 0px 40px 0;
  padding-left: 30px;
}

input[type=submit]{
  width: 90%;
  background-color: rgb(18, 151, 151) ;
  border: none;
  padding: 20px 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20px;
  font-family: "Righteous";
  border-radius: 10px;
  box-shadow: 7px 7px 3px black;
}
input[type=submit]:hover{
  box-shadow: none;
  background-color: #010101;
}

#button-form{
  margin-left: 40px;

}

/*-------------------------------FOOTER----------------------*/
.footer{
  background-color: rgb(244, 240, 240);

}

.btnF{
  background-color: rgb(59, 89, 152);
}

.btnF:hover, .btnG:hover, .btnL:hover, .btnI:hover, .btnT:hover{
  box-shadow:  2px 2px 4px #ee0847; 
}

.btnG{
  background-color: rgb(27, 25, 25);
}

.btnI{
  background-color: rgb(172, 43, 172);
}

.btnL{
  background-color: rgb(0, 96, 151);
}

.btnT{
  background-color: rgb(85, 172, 238);
}

.btnF, .btnG, .btnI, .btnL, .btnT{
  font-weight: bold;
  margin-left: 10px;
  padding: 9px 15px;
  border-radius: 5px;
}

.copyright{
  background-color: rgb(0, 0, 0);
  color: #129797;
  font-family: "Righteous";
}

#heart{
  color: #ee0847;
}

/*--------------------------------FOOTER----------------------*/